.btn:hover{
    background-color: #0c1b17;
}

.inputBG{
    border-bottom: 1px solid #0c1b17;
    color:black !important;
}

.inputbg{
    border: 1px solid #0c1b17;
}

.fa{
    cursor: pointer;
    padding:2px;
}
.btn:focus, .inp:focus{
    outline: none !important;
}

.inp::placeholder{
    color:rgb(26, 21, 21);
}
